<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CusTomSoft.demo.mapper.BoardMapper">
    
    <insert id="writeBoard" parameterType="String" >
     INSERT INTO  board(
    		   board_reg_date
    		  ,board_mod_date
    		  ,board_title
			  ,board_text
			  ,board_writer
			  ,board_img_path
			  ,board_del_yn
			
		)VALUES (
			  now()
			, now()
			, #{board_title}
			, #{board_text}
			, #{board_writer}
			, #{board_img_path}
			, 'n'
		);
    </insert>
    
    <select id="listBoard" resultType="hashmap" >
     	 select * from board 
          WHERE  board_title LIKE CONCAT('%','${searchKeyword}','%') or board_text LIKE CONCAT('%','${searchKeyword}','%')  
         order by board_seq DESC
    </select>

 	
 	 
 	
  		
  	
 	
 	
        
    
</mapper>