<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CusTomSoft.demo.mapper.BoardMapper">
    
    <insert id="writeBoard" parameterType="com.CusTomSoft.demo.dto.BoardDto"  >
     INSERT INTO  board(
    		   board_reg_date
    		  ,board_mod_date
    		  ,board_title
			  ,board_text
			  ,board_writer
			  ,board_img_path
			  ,board_del_yn
			  
			
		)VALUES (
			  now()
			, now()
			, #{board_title}
			, #{board_text}
			, #{board_writer}
			, #{board_img_path}
			, 'n'
		);
    </insert>
    
    
	  <select id="boardListCnt" resultType="int" >
     	 SELECT count(*)
       	 FROM board
         
    </select>
    
    
    <select id="listBoard"  resultType="hashmap" parameterType="hashmap" >
      <![CDATA[
     	 select * from board 
          WHERE  board_title LIKE CONCAT('%','${searchKeyword}','%') or board_text LIKE CONCAT('%','${searchKeyword}','%')  
          order by board_seq DESC
          LIMIT #{Criteria.pageStart}, #{Criteria.perPageNum}
           ]]>
         
    </select>
    
    <!-- 게시물 총 개수 -->
	<select id="count" resultType="int">
			select count(board_seq) from board
	</select>
    
    
	<select id="detail" resultType="com.CusTomSoft.demo.dto.BoardDto"  parameterType="int">
		select * from board
		where board_seq = #{board_seq}
	</select>
	
	<delete id="remove"  >
		delete  from board
		where board_seq = #{board_seq}
	</delete>

	<select resultType="com.CusTomSoft.demo.dto.BoardDto"  id="update" parameterType="int">
	select * from board 
	where board_seq = #{board_seq} </select>

	<update id="updateBoard" parameterType="hashMap" >
		update board 
		set 
		board_title=#{board_title},board_text=#{board_text}
		where board_seq =#{board_seq}
	</update>
	
	<insert id="comment" parameterType="com.CusTomSoft.demo.dto.CommentDto" >
	Insert into comment(board_seq,writer,date,content,delete_yn)
	VALUES (#{board_seq},#{writer},now(),#{content},'N')
	</insert>
	
	<select id="getCommentList"  resultType="com.CusTomSoft.demo.dto.CommentDto">
	select * 
	from comment
	where board_seq = #{board_seq} </select>
	
	
 	<insert id="heart" parameterType="com.CusTomSoft.demo.dto.HeartDto"  >
     INSERT INTO  heart(
    		   board_seq
    		  ,custom_user_nick
		)VALUES (
			  #{board_seq}
			, #{custom_user_nick}
		);
    </insert>
 	 
 	
  	<select id="findLike"  resultType="int">
		select count(*)
		  from heart
		where board_seq = #{board_seq} and custom_user_nick = #{custom_user_nick} </select>
    
</mapper>