<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CusTomSoft.demo.mapper.MemberMapper">
    <select id="idcheck" parameterType="String" resultType="int">
      select count (*) from user_member
		where custom_user_nick = #{custom_user_nick}
    </select>
    
    <select id="getGrid" resultType="com.CusTomSoft.demo.dto.MemberDto">
    select * from user_member
    </select>
    
   <select id="doLogin" resultType="HashMap" >
   select * from user_member
   where custom_user_nick = #{custom_user_nick} and custom_user_pwsd = #{custom_user_pwsd} </select>
    
    
    <insert id="doJoin" >
     INSERT INTO  user_member
     	
      <!--   custom_user_nick = #{custom_user_nick},
    	custom_user_name = #{custom_user_name},
    	custom_user_brith = #{custom_user_brith},
    	custom_user_email = #{custom_user_email},
    	custom_user_addr = #{custom_user_addr},
    	custom_user_phone = #{custom_user_phone},
    	custom_user_pwsd = #{custom_user_pwsd} -->
    	
    	(	  custom_user_nick
			, custom_user_name
			, custom_user_brith
			, custom_user_email
			, custom_user_addr
			, custom_user_phone
			, custom_user_pwsd
			, custom_user_auth
			, custom_user_del_yn
			,custom_user_reg_date
			,custom_user_mod_date
		)VALUES (
			  #{custom_user_nick}
			, #{custom_user_name}
			, #{custom_user_brith}
			, #{custom_user_email}
			, #{custom_user_addr}
			, #{custom_user_phone}
			, #{custom_user_pwsd}
			, '2'
			, 'no'
			,now()
			,now() 
	
			
		);
    </insert>
    

   <select id="dolist" resultType="HashMap" >
	SELECT 
		D.DEPT_CD ,
		D.DEPT_NM ,
		D2.DEPTINFO_CD ,
		D2.DEPTINFO_NM 
	FROM test.dept D 
	LEFT JOIN test.deptinfo D2 on D.DEPT_CD = D2.DEPT_CD
	ORDER BY d2.DEPTINFO_CD
	
   </select>
   
   
  <!--  <select id="dolist"  resultType="hashMap" >
	SELECT 
		D.DEPT_CD ,
		D.DEPT_NM ,
		D2.DEPTINFO_CD ,
		D2.DEPTINFO_NM 
	FROM test.dept D 
	LEFT JOIN test.deptinfo D2 on D.DEPT_CD = D2.DEPT_CD
	ORDER BY d2.DEPTINFO_CD
	
   </select> -->
   
     <select id="checkemail" parameterType="String" resultType="int">
    select count(custom_user_email)
     from user_member
   	where custom_user_email = #{custom_user_email}
    </select>
   
   
</mapper>